body {
    font-family: sans-serif;

    background-color: #eaeaea;
}

.contenedor {
    width: 100%;
    background-color: #f5f5f5;
    padding: 2rem;
    
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

section {
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: blue;
}